<div class="container">
  <h1>My Booked Projects</h1>

<% if (bookings.length === 0) { %>
  <p>You have no booked projects yet.</p>
<% } else { %>
  <div class="table-container">
    <table class="table">
    <tr>
      <th>Project</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <% bookings.forEach(b => { %>
      <tr>
        <!-- <td><%= b.title %></td> -->
         <td><%= b.project_title %></td>
        <!-- <td class="description"><%= b.description %></td> -->
         <td class="description">
            <%= b.description.length > 120
                ? b.description.substring(0, 60) + "..."
                : b.description
            %>
          </td>

        <td><%= b.status %></td>
        
        <td>
          <% if (b.status === 'quoted') { %>
            <a 
              href="/projects/quotation/<%= b.id %>" 
              class="btn btn-primary btn-sm"
            >
              View Quotation
            </a>
          <% } else { %>
            <!-- <span>N/A</span> -->
             <a 
              href="/projects/quotation/<%= b.id %>" 
              class="btn btn-primary btn-sm"
            >
              View Quotation
            </a>
          <% } %>
        </td>
        <td><%= new Date(b.created_at).toLocaleDateString() %></td>
        <td><%= b.updated_at ? new Date(b.updated_at).toLocaleDateString() : 'N/A' %></td>

      </tr>
    <% }) %>
  </table>
  </div>
  
<% } %>

</div>

