<div class="container">
  <h1>My Booked Projects</h1>

<% if (bookings.length === 0) { %>
  <p>You have no booked projects yet.</p>
<% } else { %>
  <div class="table-container">
    <table class="table">
    <tr>
      <th>Project</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% bookings.forEach(b => { %>
      <tr>
        <td><%= b.title %></td>
        <td><%= b.description %></td>
        <td><%= b.status %></td>
        <!-- <td>
          <% if (b.status === 'quoted') { %>
            <form action="/projects/quotation/accept/<%= b.id %>" method="POST">
              <button class="btn btn-secondary btn-sm">Accept Quotation</button>
            </form>
          <% } else { %>
            <span>N/A</span>
          <% } %>
        </td> -->
        <td>
          <% if (b.status === 'quoted') { %>
            <a 
              href="/projects/quotation/<%= b.id %>" 
              class="btn btn-primary btn-sm"
            >
              View Quotation
            </a>
          <% } else { %>
            <!-- <span>N/A</span> -->
             <a 
              href="/projects/quotation/<%= b.id %>" 
              class="btn btn-primary btn-sm"
            >
              View Quotation
            </a>
          <% } %>
        </td>

      </tr>
    <% }) %>
  </table>
  </div>
  
<% } %>

</div>

