<div class="container">
  <h1>Project Quotation</h1>

 <div class="card">
  <h3><%= quotation.title %></h3>

  <div class="quotation-preview">
    <%- quotation.quotation_html %>
  </div>

  <p><strong>Quoted Amount:</strong> ₦<%= quotation.quoted_amount %></p>
  <p><strong>Delivery Timeline:</strong> <%= quotation.delivery_timeline %></p>

  <a 
    href="/projects/quotation/download/<%= bookingId %>" 
    class="btn btn-outline-primary"
  >
    Download PDF
  </a>

  <% if (quotation.booking_status === 'quoted') { %>
      <form 
        action="/projects/quotation/accept/<%= bookingId %>" 
        method="POST"
        style="margin-top:15px;"
      >
        <button class="btn btn-success">
          Accept Quotation
        </button>
      </form>
    <% } else { %>
            <h3 style="color: green;">Quotation Accepted</h3>
             
          <% } %>
</div>

<!-- Custom Success Modal -->
<div id="acceptModal" class="modal">
  <div class="mmodal-box center small">
    <h3>Quotation Accepted</h3>
    <p>Quotation has been accepted. Admin will be notified.</p>
    <button class="btn btn-cancel" onclick="closeModal()">OK</button>
  </div>
</div>
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);

  if (urlParams.get("accepted") === "true") {
    document.getElementById("acceptModal").style.display = "flex";

    // Remove query param from URL
    window.history.replaceState({}, document.title, window.location.pathname);
  }

  function closeModal() {
    document.getElementById("acceptModal").style.display = "none";
  }

  // Optional: Close when clicking outside modal
  window.onclick = function (event) {
    const modal = document.getElementById("acceptModal");
    if (event.target === modal) {
      modal.style.display = "none";
    }
  };
</script>
